# set kernel version
export TARGET_DEVICE=SC02C
export BUILD_MOD=KBC
export BUILD_VERSION=V8.0.0

# set build user and host
export KBUILD_BUILD_VERSION="1"
export KBUILD_BUILD_USER="173210,sakuramilk"
export KBUILD_BUILD_HOST="KBC"

# set kernel option
export KERNEL_BASEADDRESS=0x40000000
case "$BUILD_TARGET" in
  "AOSP" ) export KERNEL_DEFCONFIG=kbc_sc02c_aosp_defconfig ;;
  "SAM"  ) export KERNEL_DEFCONFIG=kbc_sc02c_samsung_defconfig ;;
esac

# ramdisk
export BOOT_RAMDISK_SRC_DIR=../sc02c_boot_ramdisk
export BOOT_RAMDISK_TMP_DIR=/tmp/sc02c_boot_ramdisk
export RECO_RAMDISK_SRC_DIR=../sc02c_recovery_ramdisk
export RECO_RAMDISK_TMP_DIR=/tmp/sc02c_recovery_ramdisk


export USE_INITRAMFS=y

