# set kernel version
export TARGET_DEVICE=SC02E
export BUILD_MOD=KBC
export BUILD_VERSION=V1.0.0

# set build user and host
export KBUILD_BUILD_VERSION="1"
export KBUILD_BUILD_USER="Ma34s3"
export KBUILD_BUILD_HOST="KBC"

# set kernel option
export KERNEL_BASEADDRESS=0x40000000
case "$BUILD_TARGET" in
  "AOSP" ) export KERNEL_DEFCONFIG=kbc_sc02e_aosp_defconfig ;;
  "SAM"  ) export KERNEL_DEFCONFIG=kbc_sc02e_samsung_defconfig ;;
esac

# ramdisk
export RAMDISK_SRC_DIR=../sc02e_boot_ramdisk
export RAMDISK_TMP_DIR=/tmp/sc02e_boot_ramdisk
